[Unit]
Description=MiracleCast Wi-Fi Daemon
After=network.target

[Service]
ExecStart=/usr/bin/miracle-wifid --ip-binary /sbin/ip --use-dev

[Install]
WantedBy=multi-user.target
