[Unit]
Description=MiracleCast Sink Control
After=miracle-wifid.service

[Service]
ExecStartPre=/bin/bash -c 'until [[ -e /sys/class/net/wlan0 && -e /dev/video0 ]]; do sleep 1; done'
ExecStartPre=/bin/modetest -M sun4i-drm -w 37:zpos:0
ExecStartPre=/bin/modetest -M sun4i-drm -w 31:zpos:1
ExecStart=/usr/bin/miracle-sinkctl --audio 0 --res 00000080,00000000,00000000

[Install]
WantedBy=multi-user.target
